### 不希望写入的文件夹
logs
data/bert_train
data/pand
data/MBTI
*.csv
data/samples/*.json
data/*.ipynb
data/jing*
data/*.xlsx
data/*.json
*test*
learning/coding

### 不希望写入的文件
config/setting.yaml

### Python template
.idea
.vscode
*.zip
.cache
__pycache__/